Project 3 Pair Programming Log

4/4, 5:00p - 7:00p, Eric, Carson, Charles, Sumedh, 2 hours
Driver Order and Time Length:
Eric, 30 minutes
Carson, 30 minutes
Charles, 30 minutes
Sumedh, 30 minutes

4/6, 5:00p - 7:00p, Eric, Carson, Charles, Sumedh, 2 hours
Driver Order and Time Length:
Eric, 30 minutes
Carson, 30 minutes
Charles, 30 minutes
Sumedh, 30 minutes

4/7, 7:00p - 11:00p, Eric, Carson, Charles, Sumedh, 4 hours
Driver Order and Time Length:
Eric, 60 minutes
Carson, 60 minutes
Charles, 60 minutes
Sumedh, 60 minutes

4/13, 5:00p - 10:00p, Eric, Carson, Charles, Sumedh, 5 hours
Driver Order and Time Length:
Eric, 75 minutes
Carson, 75 minutes
Charles, 75 minutes
Sumedh, 75 minutes

4/14, 5:00p - 10:00p, Eric, Carson, Charles, Sumedh, 5 hours
Driver Order and Time Length:
Eric, 75 minutes
Carson, 75 minutes
Charles, 75 minutes
Sumedh, 75 minutes

4/15, 5:00p - 12:00a, Eric, Carson, Charles, Sumedh, 7 hours
Driver Order and Time Length:
Eric, 105 minutes
Carson, 105 minutes
Charles, 105 minutes
Sumedh, 105 minutes

4/16, 12:00p - 2:00a, Eric, Carson, Charles, Sumedh, 14 hours
Driver Order and Time Length:
Eric, 210 minutes
Carson, 210 minutes
Charles, 210 minutes
Sumedh, 210 minutes

4/17, 10:00a - 10:00p, Charles, Carson, Eric, Sumedh, 12 hours
Driver Order and Time Length:
Eric, 135+ minutes
Carson, 135+ minutes
Charles, 135+ minutes
Sumedh, 135+ minutes